<div class="page-layout">
  <app-navbar />

  <main class="page-content">
    <header class="content-header">
      <div>
        <h1>Διαχείριση πρόσβασης χρήστη</h1>
        <p>Ενημέρωση ρόλου και κατάστασης λογαριασμού.</p>
      </div>

      <a routerLink="/users" class="btn btn-outline-dark"> Επιστροφή </a>
    </header>

    @if (isLoading()) {
      <div class="empty-state">Φόρτωση χρήστη...</div>
    } @else {
      @if (errorMessage()) {
        <div class="alert alert-danger">
          {{ errorMessage() }}
        </div>
      }

      @if (successMessage()) {
        <div class="alert alert-success">
          {{ successMessage() }}
        </div>
      }

      <div class="form-card">
        <form [formGroup]="accessForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Ρόλος</label>
            <div class="select-wrapper">
              <select class="form-select form-input" formControlName="roleUuid">
                @for (role of roles(); track role.uuid) {
                  <option [value]="role.uuid">
                    {{ role.name }}
                  </option>
                }
              </select>
              <i class="fa-solid fa-chevron-down select-icon"></i>
            </div>
          </div>

          <div class="form-check mb-4">
            <input id="active" type="checkbox" class="form-check-input" formControlName="active" />

            <label class="form-check-label" for="active">Ενεργός/Ανενεργός</label>
          </div>

          <button
            type="submit"
            class="btn submit-button"
            [disabled]="isSubmitting() || !accessForm.dirty"
          >
            {{ isSubmitting() ? 'Αποθήκευση σε εξέλιξη...' : 'Αποθήκευση' }}
          </button>
        </form>
      </div>
    }
  </main>
</div>