<nav class="app-sidebar">
  <div>
    <h2 class="sidebar-title">Webinars App</h2>

    <ul class="sidebar-menu">
      <li>
        <a routerLink="/webinars">Σεμινάρια</a>
      </li>

      <li>
        <a routerLink="/my-webinars">Σεμινάρια που παρακολουθώ</a>
      </li>

      <li>
        <a routerLink="/profile">Προφίλ χρήστη</a>
      </li>

      @if (isAdmin() || isOrganizer()) {
        <li>
          <a routerLink="/webinars/create">Προσθήκη νέου σεμιναρίου</a>
        </li>

        <li>
          <a routerLink="/organizer-webinars">Σεμινάρια που διοργανώνω</a>
        </li>
      }

      @if (isAdmin()) {
        <li>
          <a routerLink="/users">Χρήστες</a>
        </li>

        <li>
          <a routerLink="/roles">Ρόλοι</a>
        </li>

        <li>
          <a routerLink="/capabilities">Δικαιώματα</a>
        </li>

        <li>
          <a routerLink="/reports">Αναφορές</a>
        </li>
      }
    </ul>
  </div>

  @if (currentUser()) {
  <div class="sidebar-user">
    <div class="sidebar-user-name">
      {{ currentUser()?.firstname }} {{ currentUser()?.lastname }}
    </div>

    <div class="sidebar-user-role">
      {{ currentUser()?.roleName }}
    </div>
  </div>
}

  <button type="button" class="logout-button" (click)="logout()">Αποσύνδεση</button>
</nav>