<nav class="app-sidebar">
  <div>
    <h2 class="sidebar-title">Webinars App</h2>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/webinars">Σεμινάρια</a>
      </li>

      @if (isAdmin() || isOrganizer()) {
        <li>
          <a routerLink="/webinars/create">Προσθήκη νέου</a>
        </li>
      }
      @if (isAdmin() || isParticipant()) {
        <li>
          <a routerLink="/my-webinars">Παρακολούθηση</a>
        </li>
      }
      @if (isAdmin() || isOrganizer()) {
        <li>
          <a routerLink="/organizer-webinars">Διοργάνωση</a>
        </li>
      }
      @if (isAdmin()) {
        <li>
          <a routerLink="/users">Χρήστες</a>
        </li>

        <li>
          <a routerLink="/profile">Προφίλ</a>
        </li>
      }
    </ul>
  </div>

  <button type="button" class="logout-button" (click)="logout()">Αποσύνδεση</button>
</nav>