<div class="login-page">
  <div class="login-card">
    <div class="row g-0">
      <div class="col-12 col-md-7 login-left">
        <h2 class="text-center mb-4">Σύνδεση</h2>

        @if (errorMessage) {
          <div class="alert alert-danger">
            {{ errorMessage }}
          </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input
              type="text"
              class="form-control login-input"
              placeholder="Διεύθυνση email"
              formControlName="username"
            />

            @if (
              loginForm.controls.username.invalid &&
              loginForm.controls.username.touched
            ) {
              <div class="text-danger small mt-1">
                Η διεύθυνση email είναι υποχρεωτική.
              </div>
            }
          </div>

          <div class="mb-2">
            <input
              type="password"
              class="form-control login-input"
              placeholder="Κωδικός πρόσβασης"
              formControlName="password"
            />

            @if (
              loginForm.controls.password.invalid &&
              loginForm.controls.password.touched
            ) {
              <div class="text-danger small mt-1">
                Ο κωδικός πρόσβασης είναι υποχρεωτικός.
              </div>
            }
          </div>

          <button type="button" class="forgot-link">
            Ξέχασα τον κωδικό πρόσβασης
          </button>

          <button type="submit" class="btn login-button w-100 mt-4">
            Σύνδεση
          </button>

          <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">
              Απομνημόνευση των στοιχείων
            </label>
          </div>
        </form>
      </div>

      <div class="col-12 col-md-5 login-right">
        <div>
          <h2>Νέος χρήστης;</h2>
          <p>Κάντε εγγραφή τώρα!</p>
        </div>

        <a routerLink="/register" class="btn register-button">
          Εγγραφή
        </a>
      </div>
    </div>
  </div>
</div>